body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2207;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url("../textures/wrap.webp");
    background-repeat: repeat;
    background-size: 128px;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

#container {
    position: fixed;
    top: 10px;
    aspect-ratio: 4 / 3;
    width: 80%;
    max-height: calc(100vh - 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0e10;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.7);
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #0a0e10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label {
    color: white;
    font-size: 100%;
}

#info {
    position: fixed;
    top: 10px;
    max-width: fit-content;
    max-height: fit-content;
    padding-inline: 5px;
    margin-inline: 40px;
    z-index: 100;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 3vh;
    text-align: center;
    text-wrap: wrap;
    background-color: #ffffff;
}

.border {
    border: 5px solid #ffffff;
    border-radius: 5px;
}